/* home page styles */

.navbar {
  background-color: transparent !important;
}

.nav-footer {
  background-color: transparent !important;
  position: relative;
  z-index: 1;
}

/* home page content box */

.home-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  pointer-events: none;
}

.home-container .spacer:first-child {
	flex: 1 1 60% ;
}

.home-container .spacer:last-child {
	flex: 1 1 40% ;
}

.home-inner {
  background-color: #eaf2f3;
  padding: 2em 4em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-image: url('../images/binary.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: auto;
}

@media only screen and (max-width: 576px) {
  .home-inner {
    padding: 0.5em 1em;
  }
}

/* hero slideshow */

.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
  z-index: -5;
}

.hero-gallery {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero-gallery .child {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

.hero-gallery .child.active {
  opacity: 1;
}

.hero-gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#bad4d7 5%, transparent 30%);
  z-index: 1;
}

.image-effect img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%) brightness(1.2);
          filter: grayscale(100%) brightness(1.2);
}

/* teal overlay using pseudo-element */
.image-effect::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4c979e;
  opacity: 0.35;
  pointer-events: none; /* so it doesn't block interactions */
}

/* particles */
#quarto-particlejs{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  aspect-ratio: 1684/842;
}

