/* website css style */

/*-- scss:defaults --*/

/* colours, fonts, size ---------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Fira+Mono:wght@400;500;700&display=swap');

$primary: #4C979F;
$secondary: #A6CBCF;
$tertiary: #D1E5E6;
$link-color: #79B1B7;
$body-color: #1c2833;
$code-color: #496985;
$code-block-bg: WhiteSmoke;
$font-family-sans-serif: 'Albert Sans', 'Helvetica', 'sans-serif' ;
$font-family-monospace: 'Fira Mono','Ubuntu Mono', 'Lucida Console', 'Courier', 'monospace';
$font-family-headings: $font-family-sans-serif;
$mermaid-font-family: 'Albert Sans', 'Helvetica', 'sans-serif' ;
$font-size-root: 18px;
$code-font-size: 14px;
/* major second scale */
$h1-font-size: 1.802rem;
$h2-font-size: 1.602rem;
$h3-font-size: 1.424rem;
$h4-font-size: 1.266rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;
$code-block-border-color: none;
$code-font-size: 0.90rem;
$code-bg: $code-block-bg; /* inline code */
/*$code-color: ; */

/* shadow strengths */
$shadow-low: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$shadow-medium: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$shadow-high: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$shadow-higher: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
$shadow-highest: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

/* site */
$navbar-bg: $tertiary;
$footer-bg: transparent;
$footer-fg: DimGray;

/*-- scss:rules --*/

h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-headings;
}

/* major third scale */
.largest { font-size: 1.953em;}
.larger { font-size: 1.563em;}
.large { font-size: 1.25em;}
.small { font-size: 0.8em;}
.smaller { font-size: 0.64em;}
.smallest { font-size: 0.512em;}


/* site ---------------------------------------------------------------------- */

body {
  background-color: #f5f9f9;
  background-image: radial-gradient($secondary 0.65px, #fafcfc 0.65px);
  background-size: 13px 13px;
}

.contents-table table {
  line-height: 1;
}

.listing-image img {
  height: 40px;
  width: 60px;
  -o-object-fit: cover;
  object-fit: cover;
}

/* navbar  and footer */

.navbar-brand {
  padding-top: 0;
}

.navbar-nav {
  font-size: 0.85em;
  letter-spacing: 0.1em;
}

.nav-footer {
  background-color: $footer-bg;
  color: $footer-fg;
}

.nav-footer p {
  margin-bottom: 0;
}

/* title block banner */

.quarto-title-block .quarto-title-banner {
  background-color: #D1E5E6;
  background-image: url('assets/images/binary.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* buttons and badges */

.badge,
.badge-primary {
  background-color: $primary;
}

.badge-secondary {
  background-color: $secondary;
}

.btn {
  border-radius: 0;
  box-shadow: $shadow-medium;
}

.btn:hover {
  box-shadow: $shadow-low;
}

.btn-primary {
  background-color: $primary;
  color: whitesmoke;
}

.btn-primary:hover {
  color: whitesmoke;
}

.btn-secondary {
  background-color: $secondary;
  color: whitesmoke;
}

.btn-secondary:hover {
  color: whitesmoke;
}

.btn a {
  color: whitesmoke;
  text-decoration: none;
}

/* alert */

.alert {
  border-radius: 0;
}

/* code */

pre {
  line-height: 1.4;
  background-color: $code-block-bg;
  border-radius: 0.25rem;
}

pre:not(.sourceCode), pre:not([class]) {
  padding: 0.4em;
}

div.code-with-filename-file pre {
  padding: 0;
  background-color: transparent;
}

code {
  color: $code-color;
}

.cell-output-stdout code {
  word-break: break-word !important;
  white-space: pre-wrap !important;
}

/* tab content */

.tab-content {
  background-color: white;
}

/* call-out */

.callout {
  border-radius: 0 !important;
  background-color: white;
}

.callout-style-default,
.callout-style-simple {
  border: solid silver 1px !important;
}

div.callout-note.callout-style-default > .callout-header {
  background-color: $secondary;
}

div.callout-note .callout-icon::before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHdpZHRoPSIxNiIgZmlsbD0iIzFjMjgzMyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjwhLS0hRm9udCBBd2Vzb21lIEZyZWUgNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UvZnJlZSBDb3B5cmlnaHQgMjAyMyBGb250aWNvbnMsIEluYy4tLT48cGF0aCBkPSJNMjU2IDUxMkEyNTYgMjU2IDAgMSAwIDI1NiAwYTI1NiAyNTYgMCAxIDAgMCA1MTJ6TTIxNiAzMzZoMjRWMjcySDIxNmMtMTMuMyAwLTI0LTEwLjctMjQtMjRzMTAuNy0yNCAyNC0yNGg0OGMxMy4zIDAgMjQgMTAuNyAyNCAyNHY4OGg4YzEzLjMgMCAyNCAxMC43IDI0IDI0cy0xMC43IDI0LTI0IDI0SDIxNmMtMTMuMyAwLTI0LTEwLjctMjQtMjRzMTAuNy0yNCAyNC0yNHptNDAtMjA4YTMyIDMyIDAgMSAxIDAgNjQgMzIgMzIgMCAxIDEgMC02NHoiLz48L3N2Zz4=') !important;
}

div.callout-tip .callout-icon::before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHdpZHRoPSIxMiIgZmlsbD0iIzFjMjgzMyIgdmlld0JveD0iMCAwIDM4NCA1MTIiPjwhLS0hRm9udCBBd2Vzb21lIEZyZWUgNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UvZnJlZSBDb3B5cmlnaHQgMjAyMyBGb250aWNvbnMsIEluYy4tLT48cGF0aCBkPSJNMjcyIDM4NGM5LjYtMzEuOSAyOS41LTU5LjEgNDkuMi04Ni4ybDAgMGM1LjItNy4xIDEwLjQtMTQuMiAxNS40LTIxLjRjMTkuOC0yOC41IDMxLjQtNjMgMzEuNC0xMDAuM0MzNjggNzguOCAyODkuMiAwIDE5MiAwUzE2IDc4LjggMTYgMTc2YzAgMzcuMyAxMS42IDcxLjkgMzEuNCAxMDAuM2M1IDcuMiAxMC4yIDE0LjMgMTUuNCAyMS40bDAgMGMxOS44IDI3LjEgMzkuNyA1NC40IDQ5LjIgODYuMkgyNzJ6TTE5MiA1MTJjNDQuMiAwIDgwLTM1LjggODAtODBWNDE2SDExMnYxNmMwIDQ0LjIgMzUuOCA4MCA4MCA4MHpNMTEyIDE3NmMwIDguOC03LjIgMTYtMTYgMTZzLTE2LTcuMi0xNi0xNmMwLTYxLjkgNTAuMS0xMTIgMTEyLTExMmM4LjggMCAxNiA3LjIgMTYgMTZzLTcuMiAxNi0xNiAxNmMtNDQuMiAwLTgwIDM1LjgtODAgODB6Ii8+PC9zdmc+') !important;
}

div.callout-warning .callout-icon::before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHdpZHRoPSIxNiIgZmlsbD0iIzFjMjgzMyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjwhLS0hRm9udCBBd2Vzb21lIEZyZWUgNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UvZnJlZSBDb3B5cmlnaHQgMjAyMyBGb250aWNvbnMsIEluYy4tLT48cGF0aCBkPSJNMjU2IDUxMkEyNTYgMjU2IDAgMSAwIDI1NiAwYTI1NiAyNTYgMCAxIDAgMCA1MTJ6bTAtMzg0YzEzLjMgMCAyNCAxMC43IDI0IDI0VjI2NGMwIDEzLjMtMTAuNyAyNC0yNCAyNHMtMjQtMTAuNy0yNC0yNFYxNTJjMC0xMy4zIDEwLjctMjQgMjQtMjR6TTIyNCAzNTJhMzIgMzIgMCAxIDEgNjQgMCAzMiAzMiAwIDEgMSAtNjQgMHoiLz48L3N2Zz4=') !important;
}

div.callout-caution .callout-icon::before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHdpZHRoPSIxNiIgZmlsbD0iIzFjMjgzMyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjwhLS0hRm9udCBBd2Vzb21lIEZyZWUgNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UvZnJlZSBDb3B5cmlnaHQgMjAyMyBGb250aWNvbnMsIEluYy4tLT48cGF0aCBkPSJNMjU2IDMyYzE0LjIgMCAyNy4zIDcuNSAzNC41IDE5LjhsMjE2IDM2OGM3LjMgMTIuNCA3LjMgMjcuNyAuMiA0MC4xUzQ4Ni4zIDQ4MCA0NzIgNDgwSDQwYy0xNC4zIDAtMjcuNi03LjctMzQuNy0yMC4xcy03LTI3LjggLjItNDAuMWwyMTYtMzY4QzIyOC43IDM5LjUgMjQxLjggMzIgMjU2IDMyem0wIDEyOGMtMTMuMyAwLTI0IDEwLjctMjQgMjRWMjk2YzAgMTMuMyAxMC43IDI0IDI0IDI0czI0LTEwLjcgMjQtMjRWMTg0YzAtMTMuMy0xMC43LTI0LTI0LTI0em0zMiAyMjRhMzIgMzIgMCAxIDAgLTY0IDAgMzIgMzIgMCAxIDAgNjQgMHoiLz48L3N2Zz4=') !important;
}

.callout-caution .callout-icon-container {
  padding-top: 0 !important;
}

div.callout-important .callout-icon::before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHdpZHRoPSIxNiIgZmlsbD0iIzFjMjgzMyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjwhLS0hRm9udCBBd2Vzb21lIEZyZWUgNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UvZnJlZSBDb3B5cmlnaHQgMjAyMyBGb250aWNvbnMsIEluYy4tLT48cGF0aCBkPSJNNDE2IDM5OC45YzU4LjUtNDEuMSA5Ni0xMDQuMSA5Ni0xNzQuOUM1MTIgMTAwLjMgMzk3LjQgMCAyNTYgMFMwIDEwMC4zIDAgMjI0YzAgNzAuNyAzNy41IDEzMy44IDk2IDE3NC45YzAgLjQgMCAuNyAwIDEuMXY2NGMwIDI2LjUgMjEuNSA0OCA0OCA0OGg0OFY0NjRjMC04LjggNy4yLTE2IDE2LTE2czE2IDcuMiAxNiAxNnY0OGg2NFY0NjRjMC04LjggNy4yLTE2IDE2LTE2czE2IDcuMiAxNiAxNnY0OGg0OGMyNi41IDAgNDgtMjEuNSA0OC00OFY0MDBjMC0uNCAwLS43IDAtMS4xek05NiAyNTZhNjQgNjQgMCAxIDEgMTI4IDBBNjQgNjQgMCAxIDEgOTYgMjU2em0yNTYtNjRhNjQgNjQgMCAxIDEgMCAxMjggNjQgNjQgMCAxIDEgMC0xMjh6Ii8+PC9zdmc+') !important;
}

/* shinylive */

.shinylive-wrapper {
  position: relative;
  margin: 2em 0 !important;
}

.shinylive-wrapper::before {
  content: "\e05d";
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size:  1rem;
  position: absolute;
  top: -40px;
  left: 0px;
  padding: 2px;
  margin: 4px;
}

/* profile and guest gallery */

.profile-parent {
  display: -ms-grid;
  display: grid;
  gap: 1em;
}

.profile-guest {
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.profile-about {
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
}

.profile-child {
  text-align: center;
}

.profile-child img {
  height: 250px;
  width: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-about img {
  height: 150px;
  width: 150px;
}

.profile-effect {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.profile-effect img {
  -webkit-filter: grayscale(100%) brightness(1.2);
          filter: grayscale(100%) brightness(1.2);
          display: block;
}

.profile-effect p {
  margin: 0;
  padding: 0;
}

/* teal overlay using pseudo-element */
.profile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4c979e;
  opacity: 0.35;
  transition: opacity 0.5s ease;
}

/* disable overlay and filter on hover */
.profile-effect:hover  .profile-overlay{
  opacity: 0;
  transition: opacity 0.5s ease;
}

.profile-effect:hover img {
  -webkit-filter: none;
          filter: none;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
}

/* gallery */

.raukr-gallery-parent {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}

.raukr-gallery-child {
  text-align: center;
}

.raukr-gallery-child img {
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}

.raukr-gallery-child p {
  margin-bottom: 0;
}

/* schedule toastui */

.schedule .cell-output-display {
  height: 700px;
  overflow: hidden;
}

.toastui-calendar-week-view .toastui-calendar-panel:not(.toastui-calendar-time) {
  overflow-y: hidden !important;  
}

.toastui-calendar-time {
  height: 610px !important;
}

.toastui-calendar-timegrid {
  height: 600px !important;
  min-height: 600px !important;
}

.toastui-calendar-event-time .toastui-calendar-event-time-content, .toastui-calendar-event-time .toastui-calendar-travel-time, .toastui-calendar-day-name__name {
  font-size: 13px !important;
}

.toastui-calendar-section-button,
.toastui-calendar-popup-section > .toastui-calendar-detail-item:nth-child(1),
.toastui-calendar-popup-section > .toastui-calendar-detail-item:nth-child(2) {
  display: none;
}

.toastui-calendar-template-time {
  white-space: pre-wrap;  
}

/* typeform signup form */
.tf-v1-sidetab .tf-v1-sidetab-button-text {
  font-family: $font-family-sans-serif;
  font-weight: 600;
}
